<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://6421697f04bbbe0008bd69e1--dapper-douhua-8df8ae.netlify.app/index.css" rel="stylesheet">
<script src='https://6421697f04bbbe0008bd69e1--dapper-douhua-8df8ae.netlify.app/index.js' defer="defer"></script>
<div id="video-call-widget"></div>
{% schema %}
{
  "name": "Chat Embed",
  "target": "body",
  "enabled_on": {
    "templates": ["index"]
  },
  "settings": []
}
{% endschema %}